<div id="about">
	<div class='row'>
		<div class='col-md-4'>
			<h3 class='subtitle'>Anteater</h3>
			<p>
				Owner/Managing Partner <br>
				Food & Bev Oriented <br>
				Current Master of the Web
			</p>
			<br>
			<h3 class='subtitle'>Jeremy W.</h3>
			<p>
				Owner/Managing Partner <br>
				TCG-oriented aka Pokeman
			</p>
			<br>
		</div>

		<div class='col-md-5'>

			<h3 class='subtitle'>*Christian</h3>
			<p>
				Future Master of the Web 

			</p>
			<br>
			<h3 class='subtitle'>*Chow</h3>
			<p>
				Stream Team <br>
				<%= link_to '@isekaichow','https://www.instagram.com/isekaichow/', target: "_blank"%> <br>
				<%= link_to 'Twitch channel', 'https://www.twitch.tv/isekaichow', target: "_blank" %>
			</p> 
			<br>
			<h3 class='subtitle'>
				*Kurt
			</h3>
			<p>
				Stream Team <br>
				<%= link_to '@kurtle_thee_turtle','https://www.instagram.com/kurtle_thee_turtle/', target: "_blank"%> <br>
				<%= link_to 'Twitch channel', 'https://www.twitch.tv/isekaichow', target: "_blank" %>
			</p>
			<br>
			<h3 class='subtitle'>*ProjectVillain</h3>
			<p>
				Vendor magician <br>
				Partner in crime <br>
				<%= link_to '@projectvillain_tcg', 'https://www.instagram.com/projectvillain_tcg/', target: "_blank" %>
			</p>
			<hr>
			*Customers who keep S&G intact. 
		</div>

	</div>
</div>