
<div id="content">

	
	<h2 class="title text-center">WHAT WE HAVE IN-STORE</h2>
	<div class='row'>
		<div class='col-sm-12 col-md-4'>

			<div class='mt-4'>
				<div class="card">
					<%= image_tag('console.jpg', {class:'card-img-top', alt:'xbox one and playstation 5'}) %>

				  <div class="card-body">
				    <h3 class="card-title">Console Games</h3>
				    <p class="card-text">
							<ol>
								<li><span class='important'>2 </span> Xbox Series S with Game Pass </li>
								<li><span class='important'>2 </span> PlayStation 5 with PS Plus Premium</li>
								<li><span class='important'>1 </span> Arcade</li>
							</ol>

					
				    </p>
				  </div>
				</div>
			</div>

		</div>
		<div class='col-sm-12 col-md-4'>
			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('board_games.jpg', {class:'card-img-top', alt:'board games'}) %>
				  <div class="card-body">
				    <h3 class="card-title">Board Games</h3>
				  </div>
				</div>
			</div>

			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('pokemon.jpg', {class:'card-img-top', alt:'pokemon pikachu image'}) %>
				  <div class="card-body">
				    <h3 class="card-title">TCG: Just Win & Loot Games</h3>
				    <p class="card-text">Pokemon, Magic, and One Piece TCG. Hosting events weekly!</p>
				    <%= link_to 'Event calendar & more info', just_win_and_loot_path, class:'btn btn-danger' %>
				  </div>
				</div>
			</div>
		</div>
		<div class='col-sm-12 col-md-4'>
			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('boba.jpg', {class:'card-img-top', alt:'korea fresh fruit selection'}) %>
				  <div class="card-body">
				    <h3 class="card-title">Boba Tea & More</h3>
				    <%= link_to 'Check out menu', menu_path, class:'btn btn-danger' %>
		
				  </div>
				</div>
			</div>
		</div>
		<div class='col-sm-12 col-md-4'>

		</div>

	</div>
<div id="init" class='mt-4'>
	<h2 class="title text-center">COME ON IN!</h2>

	<br>

	<div class='row'>

		<div class='col-md-8'>
			<%= image_tag('main.jpg', alt:'image of Sip and Game store') %>

		</div>
		<div class='col-md-4'>
			<p>
			Welcome to our gaming lounge and café, located at 6428 Fair Oaks Blvd, Suite A, in Carmichael. Dive into console gaming on five immersive 50-inch TVs, challenge your reflexes on retro arcade machines, or gather around for classic board games.
			</p>
			<p>
			Through our partnership with Just Win & Loot Games, we also host trading card play featuring Pokémon, Magic: The Gathering, and One Piece.
			</p>
			<p>
			And when it’s time to recharge, our in-house café offers fruit teas, tonics, punches, and snacks—perfect for keeping you and your crew fueled while you play, relax, and connect.
			</p>
			<br>
			<h3 class="subtitle">Business info</h3>
			<p>
				<i class="fa-solid fa-envelope"></i>: sipandgame.carmichael@gmail.com
			</p>
			<p>
				<i class="fa-solid fa-address-card"></i>: 6428-A Fair Oaks Blvd, Carmichael CA
			</p>

		</div>
	</div>

</div>

<div class='row' id='gallery'>
	<% Dir.glob(Rails.root.join("app/assets/images/gallery/*")).each do |image_path| %>
	  <div class='col-sm-12 col-md-4 mt-4'><%= image_tag "gallery/#{File.basename(image_path)}" %></div>
	<% end %>
</div>

</div>





