<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<div id="content">

	
	<h2 class="title text-center">WHAT WE HAVE IN-STORE</h2>
	<div class='row'>
		<div class='col-sm-12 col-md-4'>

			<div class='mt-4'>
				<div class="card">
					<%= image_tag('console.jpg', {class:'card-img-top', alt:'xbox one and playstation 5'}) %>

				  <div class="card-body">
				    <h3 class="card-title">Console Games</h3>
				    <p class="card-text">
							<ol>
								<li><span class='important'>2 </span> Xbox Series S with Game Pass </li>
								<li><span class='important'>2 </span> PlayStation 5 with PS Plus Premium</li>
								<li><span class='important'>1 </span> Arcade</li>
							</ol>

					
				    </p>
				  </div>
				</div>
			</div>

		</div>
		<div class='col-sm-12 col-md-4'>
			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('board_games.jpg', {class:'card-img-top', alt:'board games'}) %>
				  <div class="card-body">
				    <h3 class="card-title">Board Games</h3>
				  </div>
				</div>
			</div>

			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('pokemon.jpg', {class:'card-img-top', alt:'pokemon pikachu image'}) %>
				  <div class="card-body">
				    <h3 class="card-title">TCG</h3>
				    <p class="card-text">Pokemon and Magic The Gathering. Hosting events weekly!</p>
		
				  </div>
				</div>
			</div>
		</div>
		<div class='col-sm-12 col-md-4'>
			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('boba.jpg', {class:'card-img-top', alt:'korea fresh fruit selection'}) %>
				  <div class="card-body">
				    <h3 class="card-title">Boba Tea & More</h3>
				    <%= link_to 'Check out menu', menu_path, class:'btn btn-danger' %>
		
				  </div>
				</div>
			</div>
		</div>

	</div>

<div id="init" class='mt-4'>
	<h2 class="title text-center">EVENT CALENDAR</h2>

	<br>

	<div class='row'>

		<div class='col-md-9'>
			 	<div id="calendar"></div>

		</div>
		<div class='col-md-3'>
			<p>
			Welcome to our gaming lounge and café, located at 6428 Fair Oaks Blvd, Suite A, in Carmichael. Dive into console gaming on five immersive 50-inch TVs, challenge your reflexes on retro arcade machines, or gather around for classic board games.
			</p>
			<p>
			We also host trading card play featuring Pokémon and Magic: The Gathering. We buy, sell, and trade!
			</p>
			<p>
			And when it’s time to recharge, our in-house café offers fruit teas, tonics, punches, and snacks—perfect for keeping you and your crew fueled while you play, relax, and connect.
			</p>
			<br>
			<h3 class="subtitle">Business info</h3>
			<p>
				<i class="fa-solid fa-envelope"></i>: sipandgame.carmichael@gmail.com
			</p>
			<p>
				<i class="fa-solid fa-address-card"></i>: 6428-A Fair Oaks Blvd, Carmichael CA
			</p>

		</div>
	</div>

</div>

<div class='row mt-4' id='gallery'>
	<% Dir.glob(Rails.root.join("app/assets/images/gallery/*")).each do |image_path| %>
	  <div class='col-sm-12 col-md-4 mt-4'><%= image_tag "gallery/#{File.basename(image_path)}" %></div>
	<% end %>
</div>

</div>





<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: [
        {
          title: 'Free Play Commander',
          daysOfWeek: [3,6]
        },
        {
          title: 'Thursday Night Modern',
          daysOfWeek: [4]
        },
        {
          title: 'NorCal Beyblade',
          daysOfWeek: [4],
          startTime: '19:00'
        },
        {
          title: 'Friday Night Magic',
          daysOfWeek: [5]
        },

        {
          title: 'Standard Showdown',
          daysOfWeek: [0], // Saturday
          startTime: '13:00'
        },
			  {
			    title: 'Secret Stash & PokestorePGN Event',
			    start: '2025-11-05T14:00:00', // Specific date and time
			    end: '2025-11-05T20:00:00'    // Optional end time
			  },
			  {
			    title: 'Secret Stash & PokestorePGN Event',
			    start: '2025-11-06T14:00:00', // Specific date and time
			    end: '2025-11-06T20:00:00'    // Optional end time
			  },
			  
        {
          title: 'NorCal Beyblade',
			    start: '2025-11-21T19:00:00', // Specific date and time
			    end: '2025-11-13T22:00:00'    // Optional end time
        },
        {
          title: 'Chill Game Night',
			    start: '2025-11-22T18:00:00'
        },
        {
          title: 'Tekken 8 First Meet',
			    start: '2025-11-14T17:00:00', // Specific date and time
			    end: '2025-11-14T22:00:00'    // Optional end time
        },
        {
          title: 'Turkey Potluck',
			    start: '2025-11-26T17:00:00', // Specific date and time
			    end: '2025-11-26T22:30:00'    // Optional end time
        },
      ]
    });
    calendar.render();
  });
</script>