
<div id="content">

	
	<h2 class="title text-center">WHAT WE HAVE IN-STORE</h2>
	<div class='row'>
		<div class='col-md-6'>

			<div class='mt-4'>
				<div class="card">
					<%= image_tag('console.jpg', class:'card-img-top') %>

				  <div class="card-body">
				    <h5 class="card-title">Console Games</h5>
				    <p class="card-text">
							<ol>
								<li><span class='important'>2 </span> Xbox Series S with Game Pass </li>
								<li><span class='important'>2 </span> PlayStation 5 with PS Plus Premium</li>
								<li><span class='important'>2 </span> Arcade games</li>
							</ol>
				    </p>
				  </div>
				</div>
			</div>
			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('board_games.jpg', class:'card-img-top') %>
				  <div class="card-body">
				    <h5 class="card-title">Board Games</h5>
				  </div>
				</div>
			</div>

		</div>
		<div class='col-md-6'>

			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('pokemon.jpg', class:'card-img-top') %>
				  <div class="card-body">
				    <h5 class="card-title">TCG - Just Win & Loot</h5>
				    <p class="card-text">Pokemon, Magic, and One Piece TCG. Hosting events weekly!</p>
				    <%= link_to 'Event calendar & more info', just_win_and_loot_path, class:'btn btn-danger' %>
				  </div>
				</div>
			</div>

			<div class=' mt-4'>
				<div class="card">
				  <%= image_tag('fresh_fruit.jpg', class:'card-img-top') %>
				  <div class="card-body">
				    <h5 class="card-title">Food & Drinks</h5>
				    <%= link_to 'Check out menu', menu_path, class:'btn btn-danger' %>
		
				  </div>
				</div>
			</div>
		</div>

	</div>
<div id="init" class='mt-4'>
	<h2 class="title text-center">READY TO SWING ON BY?</h2>

	<br>
	<div class='row'>

		<div class='col-md-3'>
			<h3 class="subtitle">Hours of operation</h3>
			<table class='table'>
				<tr>
					<td>Monday</td><td>2:30PM - 10:30PM*</td>
				</tr>
				<tr>
					<td>Tuesday</td><td>2:30PM - 10:30PM*</td>
				</tr>
				<tr>
					<td>Wednesday</td><td>2:30PM - 10:30PM*</td>
				</tr>
				<tr>
					<td>Thursday</td><td>2:30PM - 10:30PM*</td>
				</tr>
				<tr>
					<td>Friday</td><td>2:30PM - 10:30PM*</td>
				</tr>
				<tr>
					<td>Saturday</td><td>2:30PM - 10:30PM*</td>
				</tr>
				<tr>
					<td>Sunday</td><td>2:30PM - 10:30PM*</td>
				</tr>
			</table>

			<i class='notes'>* Closing hours may shift depending on TCG event schedules.</i>

		</div>
		<div class='col-md-9'>
			<p>
			Welcome to our gaming lounge and café, located at 6428 Fair Oaks Blvd, Suite A, in Carmichael. Dive into console gaming on four immersive 60-inch TVs, challenge your reflexes on retro arcade machines, or gather around for classic board games.
			</p>
			<p>
			Through our partnership with Just Win & Loot Games, we also host trading card play featuring Pokémon, Magic: The Gathering, and One Piece.
			</p>
			<p>
			And when it’s time to recharge, our in-house café offers fruit teas, tonics, punches, and snacks—perfect for keeping you and your crew fueled while you play, relax, and connect.
			</p>
			<br>
			<h3 class="subtitle">Business info</h3>
			<p>
				<i class="fa-solid fa-envelope"></i>: sipandgame.carmichael@gmail.com
			</p>
			<p>
				<i class="fa-solid fa-phone"></i>: 925-880-5518
			</p>
			<p>
				<i class="fa-solid fa-address-card"></i>: 6428A Fair Oaks Blvd, Carmichael CA
			</p>
		</div>
	</div>

</div>
	<div class='mt-4'>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3210.69071562758!2d-121.3273472!3d38.6182178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809adc3ee155d7b1%3A0x489aec890d3d2d42!2s6428%20Fair%20Oaks%20Blvd%2C%20Carmichael%2C%20CA%2095608!5e1!3m2!1sen!2sus!4v1757381093139!5m2!1sen!2sus" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

</div>


