

<div id="content">

	<h2 class="title text-center">COMMUNITY DRIVEN</h2>
	<div class="row" id='init_content'>
		<div class='col-md-6'>
			<%= image_tag 'https://sipandgame.b-cdn.net/store_brand_night.jpg'  %>
		</div>
		<div class='col-md-6'>
			<h3 class="subtitle">Welcome!</h3>
			<p>Welcome to Sip and Game where gaming, trading cards (Pokemon, MTG & more), and boba all come together in one vibrant space. Dive into the action on our five 50-inch TVs, test your reflexes in spontaneous tournaments, connect with the community, or settle in for a round of Magic: Commander.</p>

			<p>We aim to be community-driven lounge hosting weekly events, tournaments, and <u>card shows</u> designed to bring players and collectors together. Whether you’re here to recharge, meet new friends, enjoy a refreshing bubble tea, or simply relax, S&G is your spot.</p>
			<h3 class="subtitle">Business info</h3>
			<p>
				<i class="fa-solid fa-envelope"></i>: sipandgame.carmichael@gmail.com
			</p>
			<p>
				<i class="fa-solid fa-address-card"></i>: <%= link_to '6428-A Fair Oaks Blvd, Carmichael CA', 'https://maps.app.goo.gl/BaWVzErfDVHbo6jJ8' %>
			</p>
			<p>
				<i class="fa-solid fa-phone"></i>: (916) 545-4038
			</p>
			<%= link_to "<i class='fa-brands fa-discord'></i>".html_safe, 'https://discord.com/channels/1446706387647201355/1446706388477939733', {'target':"_blank", 'rel':"noopener"}%>
			<%= link_to "<i class='fab fa-instagram'></i>".html_safe, 'https://www.instagram.com/sipandgame/', {'target':"_blank", 'rel':"noopener"}%>

		</div>
	</div>
	<br>
	<br>
	<h2 class="title text-center">WHAT'S IN-HOUSE?</h2>
	<div class='row'>
		<div class='col-sm-12'>
			<%= image_tag 'https://sipandgame.b-cdn.net/in_store_tcg.png' %> 
			<br><br>
			<%= image_tag 'https://sipandgame.b-cdn.net/tourney_games.png' %>
		</div>

	</div>
	<br>
	<br>
	<div id="init" class='mt-4'>
		<h2 class="title text-center">EVENT CALENDAR</h2>

		<br>

		<div class='row'>

			<div class='col-md-6 col-sm-12' id='calendar'>
				 	
				<%= image_tag('january_cal.png') %>
			</div>
			<div class='col-md-6 col-sm-12'>
				 	
				<%= image_tag('reoccuring_cal.png') %>
			</div>

		</div>
	</div>


</div>





