<!DOCTYPE html>
<html>
  <head>
    <% unless Rails.env.development? || Rails.env.test? %>

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-97WGCFJR9E"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-97WGCFJR9E');
      </script>
    <% end %>
    <title><%= content_for(:title) || "Sip and Game" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <% if params[:action] == 'just_win_and_loot' %>
        <meta name="description" content="Just Win and Loot Games is a trading card game startup serving fans of Pokémon, Magic: The Gathering, and One Piece - offering community events, card trading, and sales.">
        <meta name="keywords" content="TCG near me, Pokemon tcg near me, Magic near me, Magic the Gathering near me, Pokemon store near me, buy MTG booster box, sealed Pokemon product deals">
    <% elsif params[:action] == 'menu' %>
      <meta name="description" content="Sip & Game in Carmichael menu options tailored for our gamers.">
      <meta name="keywords" content="boba tea, card games, Carmichael, TCG events, fruit drinks, game cafe, console games, TCG near me, Pokemon tcg near me, Magic near me">

    <% else %>
      <meta name="description" content="Sip & Game in Carmichael offers fruit teas, tabletop games, and a chill space to sip, play, and connect.">
      <meta name="keywords" content="boba tea, card games, Carmichael, TCG events, fruit drinks, game cafe, console games, TCG near me, Pokemon tcg near me, Magic near me">
    <% end %>

    <meta name="author" content="Sip and Game">
    <meta name="robots" content="index, follow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container-fluid">

        <a class="navbar-brand d-lg-none" href="/">
          <%= image_tag('logo.png', style:'width:125px;') %>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
          
          <div class="text-center">


            <ul class="navbar-nav d-inline-flex">
              <li class="nav-item">
                <%= link_to "HOME".html_safe, root_path, class: "nav-link #{'active' if current_page?(root_path)}", 'aria-current': ('page' if current_page?(root_path)) %>
              </li>
              <li class="nav-item">
                <%= link_to 'FOOD & BEVERAGE MENU', menu_path, class: "nav-link #{'active' if current_page?(menu_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'TCG EVENTS & CALENDAR', just_win_and_loot_path, class: "nav-link #{'active' if current_page?(just_win_and_loot_path)}" %>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </nav>
    <div id="header">
      <div>
        <% if params[:action] == 'just_win_and_loot' %>
          <%= image_tag('jwal_logo.png', alt:'sip and game logo') %>
        <% else %>
          <%= image_tag('logo.png', alt:'sip and game logo') %>
        <% end %>
        
        <% if params[:action] == 'menu' %>
          <h1 class='title'> FOOD & BEVERAGE <br> <span class='notes'> MENU </span></h1>
        <% elsif params[:action] == 'just_win_and_loot' %>
          <h1 class="title">
            JUST WIN & LOOT <br> <span class='notes'> GAMES </span>
          </h1>
        <% else %>
          <h1 class='title'>
            DRINK, EAT, GAME <br> <span class='notes'> REPEAT </span>
          </h1>
        <% end %>
      </div>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class="bg-dark text-white pt-4 pb-2 mt-4">
      <div class="container">
        <div class="row">
          <!-- Column 1: About -->
          <div class="col-md-4 mb-3">
            <%= image_tag('logo.png', alt:'sip and game logo') %>
            <p>Serving up fruit teas, games, and good vibes in Carmichael. Come play, sip, and chill.</p>
            <h5 class="subtitle">Hours of operation</h5>
            <table class='table'>
              <tr>
                <td>Monday</td><td>CLOSED</td>
              </tr>
              <tr>
                <td>Tuesday</td><td>CLOSED</td>
              </tr>
              <tr>
                <td>Wednesday</td><td>3PM - 10:30PM*</td>
              </tr>
              <tr>
                <td>Thursday</td><td>3PM - 10:30PM*</td>
              </tr>
              <tr>
                <td>Friday</td><td>3PM - 10:30PM*</td>
              </tr>
              <tr>
                <td>Saturday</td><td>1PM - 10:30PM*</td>
              </tr>
              <tr>
                <td>Sunday</td><td>1PM - 10:30PM*</td>
              </tr>
            </table>

            <i class='notes'>* Closing hours may shift depending on TCG event schedules.</i>
          </div>

          <!-- Column 2: Links -->
          <div class="col-md-4 mb-3">
            <h5 class='subtitle'>Quick links</h5>
            <ul class="list-unstyled">
              <li><a href="/" class="text-white text-decoration-none">Home</a></li>
              <li><a href="/menu" class="text-white text-decoration-none">Food & Beverage Menu</a></li>
              <li><a href="/just_win_and_loot" class="text-white text-decoration-none">TCG events and info</a></li>
  
            </ul>
          </div>

          <!-- Column 3: Contact -->
          <div class="col-md-4 mb-3">
            <h5 class='subtitle'>Contact</h5>
            <p><i class="fa-solid fa-envelope"></i>: sipandgame.carmichael@gmail.com
              <br>
              
            <i class="fa-solid fa-phone"></i>: (925) 880-5518</p>
          </div>
        </div>

        <hr class="border-light">
        <div class="text-center" id='subfooter'>
          <small>© 2025 <%= image_tag('logo.png', alt:'sip and game logo') %>. All rights reserved.</small>
        </div>
      </div>
    </footer>

  </body>



</html>
