<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sip & Game" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container-fluid">

        <a class="navbar-brand d-lg-none" href="/">
          <%= image_tag('logo.png', style:'width:125px;') %>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
          
          <div class="text-center">

            <a class="navbar-brand d-none d-lg-block" href="/">
              <%= image_tag('logo.png', style:'width:125px;') %>
            </a>

            <ul class="navbar-nav d-inline-flex">
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: "nav-link #{'active' if current_page?(root_path)}", 'aria-current': ('page' if current_page?(root_path)) %>
              </li>
              <li class="nav-item">
                <%= link_to 'Food & Beverage Menu', menu_path, class: "nav-link #{'active' if current_page?(menu_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to 'TCG', just_win_and_loot_path, class: "nav-link #{'active' if current_page?(just_win_and_loot_path)}" %>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </nav>
    <div id="header">
      <div>
        <%= image_tag('logo.png', style:'width:80; ') %>
        <% if params[:action] == 'menu' %>
          <h1 class='title'> FOOD & BEVERAGE <br> <span class='notes'> MENU </span></h1>
        <% elsif params[:action] == 'just_win_and_loot' %>
          <h1 class="title">
            JUST WIN & LOOT <br> <span class='notes'> GAMES </span>
          </h1>
        <% else %>
          <h1 class='title'>
            DRINK, EAT, GAME <br> <span class='notes'> REPEAT </span>
          </h1>
        <% end %>
      </div>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class="bg-dark text-white pt-4 pb-2 mt-4">
      <div class="container">
        <div class="row">
          <!-- Column 1: About -->
          <div class="col-md-4 mb-3">
            <%= image_tag('logo.png', style:'width:125px;') %>
            <p>Serving up fruit teas, games, and good vibes in Carmichael. Come play, sip, and chill.</p>
          </div>

          <!-- Column 2: Links -->
          <div class="col-md-4 mb-3">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="/" class="text-white text-decoration-none">Home</a></li>
              <li><a href="/menu" class="text-white text-decoration-none">Menu</a></li>
              <li><a href="/just_win_and_loot" class="text-white text-decoration-none">TCG events and info</a></li>
  
            </ul>
          </div>

          <!-- Column 3: Contact -->
          <div class="col-md-4 mb-3">
            <h5>Contact</h5>
            <p>Email: sipandgame@gmail.com</p>
            <p>Phone: (925) 880-5518</p>
          </div>
        </div>

        <hr class="border-light">
        <div class="text-center">
          <small>© 2025 <%= image_tag('logo.png',style:'width:64px') %>. All rights reserved.</small>
        </div>
      </div>
    </footer>

  </body>



</html>
